* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 1000;
    background-color: rgba(0, 0, 0, 0.212);
}

.container {

    background-color: rgba(44, 44, 44, 0.397);
    box-shadow: 5px 5px 15px black;
    width: 500px;
    margin: 50px auto;
    padding-top: 200px;
    padding: 45px;
    border-radius: 5px;
}


.calculator {
    display: flex;
    align-items: center;
    margin: auto;
}

.btn {
    width: 90px;
    height: 90px;
    margin: 2.5px;
    margin-bottom: 1.6px;
    background-color: rgba(44, 44, 44, 0.397);
    box-shadow: 2px 2px 15px rgb(255, 255, 255);
    cursor: pointer;
    color: whitesmoke;
    font-size: large;
}
.btn-2{
    width: 90px;
    height: 90px;
    margin: 2.5px;
    margin-bottom: 1.6px;
    background-color: rgba(44, 44, 44, 0.397);
    box-shadow: 2px 2px 15px rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(82, 255, 212);
    font-size: large;
}
.btn1 {
    width: 192.12px;
    height: 90px;
    background-color: rgba(44, 44, 44, 0.397);
    box-shadow: 2px 2px 25px rgb(255, 255, 255);
    color: whitesmoke;
}

.display {
    width: 390px;
    height: 60px;
    margin-bottom: 8px;
    background-color: transparent;
    color: white;
    background-color: rgba(44, 44, 44, 0.397);
    font-size: larger;
    /* box-shadow: 5px 5px 25px black; */
}
.operator{
    color: rgb(198, 209, 40); 
}